*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span,a,h5,p,h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 550px;
}
.row{
  margin-bottom: 15px;
}
.row{
  display: flex;
  justify-content: space-around;

}


.main_img{
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* ----------------Create card SHADOW--------------------*/

.card{
  width: 350px;
  height: 470px;
  box-shadow: 1px 10px 31px -3px gray;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

}

/* ----------------ENDcard SHADOW--------------------*/


/* ----------------Design private tour button--------------------*/
.private{
  background-color: blue;
  border-radius: 10px;
  padding: 3px;
  font-weight: bold;
  color: white;
  align-items: center;
  display: inline-block;
  margin-bottom: 0.3em;
}

/* ---------------- End private tour button--------------------*/



/* ----------------Design View More button--------------------*/
.link{
  background-color: #6b5a9a;
  font-size: 18px;
  color: white;
  font-weight: bold;
  font-family: cursive;
  padding: 7px;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  transition: 200ms;
}

/* ----------------End View More button--------------------*/



/* ----------------Design View More button: Hover--------------------*/

.link:hover{
  background-color: goldenrod;
}

/* ----------------End View More button: Hover--------------------*/

.icons img{
  width: 1.7em;
}
.cols{
 justify-content: end;
}
.sep1{
  border-left: 2px solid grey;
  padding-left: 1em;
}

/* ----------------Border line start--------------------*/

.row{
  border-bottom: 1px solid #7c7c7c;
  padding-bottom : 0.6em;
  margin-bottom: 0.6em;

}

.row:first-child,.row:last-child{
  border: none;
}

/* ----------------Border line end--------------------*/